.Categories{
    margin-top: 80px;
    position: relative;
    @include flex(se, c, row);
    width: 600px;

    &__button{
        position: relative;
        width: 145px;
        height: 120px;
        color: var(--color-disabledGray);
        background-color: var(--color-halfGray);
        border: none;
        font-size: 18px;
        font-family: 'Teko', sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding-top: 82px;
        transition: .3s;
        border-bottom: 4px solid var(--color-disabledGray);
        cursor: pointer;
    }
    &__button:hover >  &__icon {
        transition: .5s;
        filter: brightness(202%);
    }

    &__button--active >  &__icon {
        filter: brightness(202%);
    }

    &__button--active{
        border-bottom: 4px solid var(--color-enabledGray);
    }
    
    &__icon {
        display: inline-block;
        position: absolute;
        top: 14px;
        left: 50%;
        transform: translateX(-50%);
        fill: var(--color-disabledGray);
        transition: .3s;
    }


}