.MobItem{
    @include flex(sb,c, row);
    position: relative;
    background-color: var(--color-lightGray);
    margin: 2px 0;
    min-height: 40px;
    max-height: 96px;
    //border-radius: 6px;
    border-radius: 4px 0 0 4px;
    box-shadow: 0px 2px 2px rgba(0,0,0, 0.25);
    font-family: 'Poppins', sans-serif;
    opacity: 0;
    transform: scale(0);
    
    &__content{
        position: relative;
        @include flex(i, c, row);
        cursor: pointer;
        text-decoration: none;
        color: black;
        box-sizing: border-box;
        
    }
    &__content:hover > &__name{
        color: rgb(65, 47, 27);//var(--color-enabledGray);
        padding: 0 5px;
        transition: .15s all;
        font-weight: 600;
    }
    &__content:hover > * > img {
        filter: drop-shadow(0 0 0.15rem rgb(98, 158, 247));
    }
    &__button{
        background: none;
        border: none;
    }
    &__icon{
        position: relative;
        display: block;
        height: 100%;
        
    }
    &__icon-wrapper{
        @include flex(c,c,row);
        position: relative;
        padding: 0px 12px;
        background-color: rgba(55,55,55,1);//var(--color-halfGray);
        background: linear-gradient(270deg, rgb(65, 84, 97) 29%, rgba(55,55,55,1) 84%);
        border-radius: 4px 0 0 4px;
        min-height: 40px;
        margin-right: 10px;
        border-left: 4px solid var(--color-enabledGray);//rgb(165, 110, 39);
    }

    &__stats{
        @include flex(sb,c,row);
        position: absolute;
         left: 370px; 
        width: 100px;
    }
    &__button-wrapper{
        @include flex(se,c, row);
        background-color: white;
        height: 100%;
        right: 0;
        min-height: 40px;
        min-width: 75px;
        border-left: 2px solid var(--color-disabledGray);
        padding-left: 2px;
        position: absolute;
    }
    &__button-icon{
        display: block;
        height: 100%;
        cursor: pointer;
    }
    &__button:hover{
        filter: invert(80%) sepia(29%) saturate(1416%) hue-rotate(344deg) brightness(102%) contrast(98%);
        filter: invert(35%) sepia(28%) saturate(6112%) hue-rotate(194deg) brightness(92%) contrast(84%);
    }
    &__button-icon--delete{
        margin-left: 8px;
    }
    &__button-wrapper::before{
        content: "";
        position: absolute;
        width: 1px;
        height: 20px;
        background-color: var(--color-lightGray);
        left: 50%;
        top: 25;
    }

    &__button--finish-edit{
        background-color: var(--color-gray);
        position: absolute;
        right: -27px;
        padding: 4px 6px;
        color: white;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        transition: .3s;
        font-size: 10px;
        margin-top: 1px;
    }
    &__button--finish-edit:hover{
       background-color: var(--color-enabledGray);
    }

    &__input{
        height: 25px;
        border-radius: 3px;
        border: none;
        padding-left: 7px;
        padding-top: 2px;
        font-size: 17px;
        
    }
    &__input:focus{
        outline: none;
    }

    &__input--name{
        width: 165px;
    }

    &__input--amount, &__input--chance{
        width: 50px;

    }
    &__input--amount{
        margin-left: 12px;
    }
    &__input--chance{
        margin-left: 3px;
    }

    &__form{
        @include flex (sa,c, row);
        width: 140px;
        margin-right: 20px;
        position: absolute;
        left: 340px; 
    }

}